.calendar {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
      "header"
      "body";
    grid-gap: 3px;
  }
  
  .calendarHeader {
    grid-area: header;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
  }
  
  .calendarBody {
    grid-area: body;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .hidden{
    visibility: hidden;
  }

  .modal {
    position: fixed;
    width: 80%;
    height: 80%;
    z-index: 1040;
    top: 5%;
    left: 10%;
    background-color: teal;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .backdrop {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
  }